{% extends 'base.html.twig' %}

{% block title %}homepage
{% endblock %}

{% block body %}
	{# {{dump()}} #}
	<style></style>
	<section class="homepage">
		<div class="hero_homepage">
			<video autoplay muted loop>
				<source id="src_mp4" src="{{ asset('video/rolex.mp4') }}" type="video/mp4">
			</video>
			<div class="container_brand_materiaux">
				<h1 class="title_brand">Rolex</h1>
				<h2 class="title_materiaux">Titane. Si robuste. Si léger.</h2>
				<div class="link_buy">
					<span class="span_link_buy">En savoir plus ></span>
					<span class="span_link_buy">Acheter ></span>
				</div>
			</div>
		</div>

		<div class="categorie">
			<div class="card_category">
				<div class="content_category">
					<h3 class="h3_content_category">Mixed Metals</h3>
					<span class="span_content_category">En savoir plus ></span>
				</div>
			</div>
			<div class="card_category">
				<div class="content_category">

					<h3 class="h3_content_category">Mixed Metals</h3>
					<span class="span_content_category">En savoir plus ></span>
				</div>
			</div>
			<div class="card_category">
				<div class="content_category">
					<h3 class="h3_content_category">Mixed Metals</h3>
					<span class="span_content_category">En savoir plus ></span>
				</div>
			</div>
		</div>

		<div class="product_container_last_collection">
			<h1 class="h1_product_container">Last Collection</h1>
			<div class="product_container">

				<div class="card_product">
					<img class="img_card_product" src="{{ asset('img/montre.svg') }}" alt="">

					<div class="content_product">
						<h2>Omega</h2>
						<div class="content_static">
							<span class="span_static_content_produc">Tout pour vous plaire.</span>
							<br>
							<span>Même le prix.</span>
						</div>

						<h4 class="h4_content_product">À partir de 27009€</h4>
						<button class="button_product">
							<span>Acheter</span>
						</button>
						<span class="span_link_content_product">En savoir plus ></span>

					</div>
				</div>
				<div class="card_product">
					<img class="img_card_product" src="{{ asset('img/montre.svg') }}" alt="">

					<div class="content_product">
						<h2>Omega</h2>
						<div class="content_static">
							<span class="span_static_content_produc">Tout pour vous plaire.</span>
							<br>
							<span>Même le prix.</span>
						</div>

						<h4 class="h4_content_product">À partir de 27009€</h4>
						<button class="button_product">
							<span>Acheter</span>
						</button>
						<span class="span_link_content_product">En savoir plus ></span>

					</div>
				</div>
				<div class="card_product">
					<img class="img_card_product" src="{{ asset('img/montre.svg') }}" alt="">

					<div class="content_product">
						<h2 class="h2_title_product">Omega</h2>
						<div class="content_static">
							<span class="span_static_content_produc">Tout pour vous plaire.</span>
							<br>
							<span>Même le prix.</span>
						</div>

						<h4 class="h4_content_product">À partir de 27009€</h4>
						<button class="button_product">
							<span>Acheter</span>
						</button>
						<span class="span_link_content_product">En savoir plus ></span>

					</div>
				</div>
				<div class="card_product">
					<img class="img_card_product" src="{{ asset('img/montre.svg') }}" alt="">

					<div class="content_product">
						<h2>Omega</h2>
						<div class="content_static">
							<span class="span_static_content_produc">Tout pour vous plaire.</span>
							<br>
							<span>Même le prix.</span>
						</div>

						<h4 class="h4_content_product">À partir de 27009€</h4>
						<button class="button_product">
							<span>Acheter</span>
						</button>
						<span class="span_link_content_product">En savoir plus ></span>

					</div>
				</div>
				<div class="card_product">
					<img class="img_card_product" src="{{ asset('img/montre.svg') }}" alt="">

					<div class="content_product">
						<h2>Omega</h2>
						<div class="content_static">
							<span class="span_static_content_produc">Tout pour vous plaire.</span>
							<br>
							<span>Même le prix.</span>
						</div>

						<h4 class="h4_content_product">À partir de 27009€</h4>
						<button class="button_product">
							<span>Acheter</span>
						</button>
						<span class="span_link_content_product">En savoir plus ></span>

					</div>
				</div>
				<div class="card_product">
					<img class="img_card_product" src="{{ asset('img/montre.svg') }}" alt="">

					<div class="content_product">
						<h2>Omega</h2>
						<div class="content_static">
							<span class="span_static_content_produc">Tout pour vous plaire.</span>
							<br>
							<span>Même le prix.</span>
						</div>

						<h4 class="h4_content_product">À partir de 27009€</h4>
						<button class="button_product">
							<span>Acheter</span>
						</button>
						<span class="span_link_content_product">En savoir plus ></span>

					</div>
				</div>
			</div>
		</div>

		<!--social -->

		<div class="social_container">
			<span>partager</span>
			<div class="icon_social">
				<img src="{{ asset('img/icon/twitter.svg') }}" alt="">
			</div>
		</div>
	</section>
{% endblock %}
