{# {% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Register</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="form-container">
		<p class="title">Create account</p>
		<p class="sub-title">Let's get started with your 30 days free trial</p>

		{{ form_start(registrationForm) }}

		<div class="input-container">
			{{ form_row(registrationForm.firstname) }}
		</div>

		<div class="input-container">
			{{ form_row(registrationForm.email) }}

		</div>
		<div class="input-container">
			{{ form_row(registrationForm.lastname)}}
		</div>
		<div class="input-container">
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		</div>
		<div class="input-container">
			{{ form_row(registrationForm.birthday, {'attr': {'class': 'input', 'placeholder': 'Birthday'}}) }}
		</div>

		<div class="input-container">
			{{ form_row(registrationForm.phone, {'attr': {'class': 'input', 'placeholder': 'Phone'}}) }}
		</div>

		<div class="input-container">
			{{ form_row(registrationForm.address, {'attr': {'class': 'input', 'placeholder': 'Address'}}) }}
		</div>

		<div class="input-container">
			{{ form_row(registrationForm.agreeTerms) }}
		</div>


		<button type="submit" class="form-btn">{{ form_end(registrationForm) }}Create account</button>

		<p class="sign-up-label">
			Already have an account?
			<span class="sign-up-link">Log in</span>
		</p>


	</div>
{% endblock %}
